html,
body {
  background-color: #333;
  font-family: "Courier", sans-serif;
  color: #0ff00f;
  height: 100vh;
  width: 100vw;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}

header {
  padding: 3px;
  text-align: center;
  font-weight: bold;
  background-image: url("./assets/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
}

.title-container {
  background-color: rgb(255, 255, 255, 0.6);
  padding: 2rem;
  width: fit-content;
  border-radius: 2rem;
}

a {
  color: blue;
  text-decoration: none;
  transition: 150ms;
}

a:hover {
  scale: 1.1;
}

a:active {
  letter-spacing: 0.1rem;
}

.vertical-page-container {
  display: flex;
  flex-direction: column;
}

.important-text {
  color: transparent;
  -webkit-text-stroke: 1px #000;
}
