body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: lime;
}
header {
  font-family: "Courier", sans-serif;
  text-align: center;
  font-weight: bold;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/The_earth_at_night_%282%29.jpg/640px-The_earth_at_night_%282%29.jpg);
}