html,
body {
  background-color: black;
  font-family: "Courier", sans-serif;
  color: #0ff00f;
  height: 100vh;
  width: 100vw;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}

header {
  padding: 3px;
  text-align: center;
  font-weight: bold;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/The_earth_at_night_%282%29.jpg/640px-The_earth_at_night_%282%29.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: left;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 60%;
}

form div {
  display: flex;
  gap: 4px;
  border: none;
}

form div>* {
  flex-grow: 1;
}

form>* {
  width: 100%
}