.contact {
  display: flex;
  flex-direction: column;
  align-items: left;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 60%;
}

form div {
  display: flex;
  gap: 4px;
  border: none;
}

form div>* {
  flex-grow: 1;
}

form>* {
  width: 100%
}